body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #932432;
    color: #F3F3F3;
    text-align: center;
    padding-top: 35px;
}

.btns {
    padding-top: 20px;
}

button{
    font-size: large;
    margin-top: 20px;
    padding: 40px;
    border-radius: 10%;
    border: black solid 3px;
    background-color: #47cf73;
    cursor: pointer;
}

.wrapper {
    padding: 50px 30px;
    background-color: #7FDBFF;
    border: solid black 4px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 50px 100px;
    flex-direction: column;
    
}

.wins {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wins h2{
    margin: 20px;
}



